<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<header th:fragment="header">
	<!-- Header Start -->
	<div class="header-area">
		<div class="main-header header-sticky">
			<div class="container-fluid">
				<div class="menu-wrapper">
					<!-- Logo -->
					<div class="logo">
						<a th:href="home"><img th:src="@{/assets/img/logo/logo.png}"
							alt=""></a>
					</div>
					<!-- Main-menu -->
					<div class="main-menu d-none d-lg-block">
						<nav>
							<ul id="navigation">
								<li><a th:href="@{/home}">Home</a></li>
								<li><a th:href="@{/shop}">shop</a></li>
								<li><a th:href="@{/about}">about</a></li>
								<li><a href="contact">Contact</a></li>
								<li> <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
									<a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
									
								</li>
								<li><a th:href="@{/information}">Information</a></li>
								<li><a th:href="@{/orderlist}">Order</a></li>
							</ul>
						</nav>
					</div>
					<!-- Header Right -->
					<div class="header-right">
						<ul>
							<li>
								<div class="nav-search search-switch">
									<span class="flaticon-search"></span>
								</div>
							</li>
							<li><a th:href="@{/login}">
								<span class="flaticon-user"></span>
								<p sec:authorize="isAuthenticated()"><span sec:authentication="name"></span></p>
								</a>
							</li>
							<li><a
								th:href="@{'/cart?id='+${#authentication.name != anonymousUser ? #authentication.name : null}}"><span
									class="flaticon-shopping-cart"></span></a></li>
						</ul>
					</div>
				</div>
				<!-- Mobile Menu -->
				<div class="col-12">
					<div class="mobile_menu d-block d-lg-none"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->
</header>
</html>