<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SUCCESS</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="Container">
		<div class="row">
			<h1 class="row">Successfully register</h1>
		</div>
	
	<div class="row">
	<a th:href="@{/login}"><h2>Want to login?</h2></a>
	</div>
</div>
</body>
</html>